<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util" 
	 xmlns:tx="http://www.springframework.org/schema/tx"   
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc     
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
        >
        
      
        
	
	<!-- caricamento file di PROPERTIES -->
	<!-- va aggiunto all'intestazione xmlns:util="http://www.springframework.org/schema/util" 
	  e nello schemaLocation :  
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
	-->
	<!-- 
	 <util:properties id="configuration" location="file:C:\software\configuration.properties" />
	  -->
	   <!-- Locator se mi serve jndi & EJB
	 <bean class="it.altran.springmvc.myApp.locator.ServiceLocator" >
	  -->
	  <!-- DCONFIGURATION_PATH=  -->
	  
	 <!-- <util:properties id="configuration" location="#{systemProperties.CONFIGURATION_PATH}" />
	  
	 <bean class="it.altran.springmvc.myApp.util.ConfigurationProperties" />
	  -->
	
	 
	
	<!--   </bean>  -->
	
	<tx:annotation-driven />
	 <tx:jta-transaction-manager/>
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
	</bean>
	

	
	

 
</beans>